langchain==0.3.17
langchain-community==0.3.16
langchain-core==0.3.33
langchain-google-genai==2.0.8
python-dotenv==1.0.1
pypdf==5.2.0
streamlit==1.41.0
google-generativeai==0.8.4
faiss-cpu==1.10.0
sentence-transformers==3.4.1
torch==2.5.1
transformers==4.47.0
langchain-huggingface==0.1.2

